.title {
    min-width:200px;
    max-width:400px;
    margin:1em auto;
    position: relative;
    background-image: -webkit-gradient(linear, left top, right top, from(#12aeeb), color-stop(rgba(66, 153, 242, 0.63)), color-stop(rgba(126, 125, 232, 0.79)), color-stop(rgba(176, 87, 201, 0.79)), to(rgba(209, 21, 150, 0.58)));
    background-image: -webkit-linear-gradient(left, #12aeeb, rgba(66, 153, 242, 0.63), rgba(126, 125, 232, 0.79), rgba(176, 87, 201, 0.79), rgba(209, 21, 150, 0.58));
    background-image: -o-linear-gradient(left, #12aeeb, rgba(66, 153, 242, 0.63), rgba(126, 125, 232, 0.79), rgba(176, 87, 201, 0.79), rgba(209, 21, 150, 0.58));
    background-image: linear-gradient(to right, #12aeeb, rgba(66, 153, 242, 0.63), rgba(126, 125, 232, 0.79), rgba(176, 87, 201, 0.79), rgba(209, 21, 150, 0.58));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4em;
    font-family: "Audiowide", "cursive";
}

.title:after {
    width: 200px;
    content: "";
    position: relative;
    height: 2px;
    bottom: -5px;
    left: 15px;
    right: 5px;
    background-image: -webkit-gradient(linear, left top, right top, from(#12aeeb), color-stop(rgba(66, 153, 242, 0.38)), color-stop(rgba(126, 125, 232, 0.35)), color-stop(rgba(176, 87, 201, 0.36)), to(rgba(209, 21, 150, 0.38)));
    background-image: -webkit-linear-gradient(left, #12aeeb, rgba(66, 153, 242, 0.38), rgba(126, 125, 232, 0.35), rgba(176, 87, 201, 0.36), rgba(209, 21, 150, 0.38));
    background-image: -o-linear-gradient(left, #12aeeb, rgba(66, 153, 242, 0.38), rgba(126, 125, 232, 0.35), rgba(176, 87, 201, 0.36), rgba(209, 21, 150, 0.38));
    background-image: linear-gradient(to right, #12aeeb, rgba(66, 153, 242, 0.38), rgba(126, 125, 232, 0.35), rgba(176, 87, 201, 0.36), rgba(209, 21, 150, 0.38));
}

.landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.header {
    z-index: 1;
    margin: auto;
}

.image-container {
    position: absolute;
    opacity: 0.2;
    content: "";
    height: 100vh;
    width: 100%;
    background: url("../../src/img/djEquipment.jpeg") fixed no-repeat center;
}

.logo {
    width: 80vmin;
    margin: auto;
}

@media only screen and (min-width: 600px) {
    .title {
        font-size: 1.6em;
    }

    .title:after {
        width: 256px;
    }
}