.title {
    min-width:400px;
    margin: 40vh auto;
    position: relative;
    background-image: linear-gradient(to right, #12aeeb, rgba(66, 153, 242, 0.53), rgba(126, 125, 232, 0.49), rgba(176, 87, 201, 0.49), rgba(209, 21, 150, 0.38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    font-family: "Audiowide", "cursive";
}

.title:after {
    width: 265px;
    content: "";
    position: absolute;
    height: 2px;
    bottom: -5px;
    left: 15px;
    right: 5px;
    background-image: linear-gradient(to right, #12aeeb, rgba(66, 153, 242, 0.38), rgba(126, 125, 232, 0.35), rgba(176, 87, 201, 0.36), rgba(209, 21, 150, 0.38));
}