.login-landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: url("../../src/img/girlWHeadPhones.jpg") no-repeat fixed center;
    background-size: cover;
}

.form {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 50%;
    margin:auto;
    background-color: rgba(255, 255, 255, 0.75);
}

.login-group {
    padding: 2rem 2rem 0 2rem;
    margin: auto;
}

.btn-group {
    margin: 2rem auto;
    text-align: center;
}

.button {
    text-align: center;
    margin: 0 10px 20px;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.btn-text {
    background-image: -webkit-gradient(linear, left top, right top, from(#12aeeb), color-stop(rgb(66, 153, 242)), color-stop(rgb(126, 125, 232)), color-stop(rgb(176, 87, 201)), to(rgb(209, 21, 150)));
    background-image: -webkit-linear-gradient(left, #12aeeb, rgb(66, 153, 242), rgb(126, 125, 232), rgb(176, 87, 201), rgb(209, 21, 150));
    background-image: -o-linear-gradient(left, #12aeeb, rgb(66, 153, 242), rgb(126, 125, 232), rgb(176, 87, 201), rgb(209, 21, 150));
    background-image: linear-gradient(to right, #12aeeb, rgb(66, 153, 242), rgb(126, 125, 232), rgb(176, 87, 201), rgb(209, 21, 150));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.google-btn {
    margin: auto;
    text-align: center;
    display: block;
}

@media only screen and (max-width: 568px) {
    .form {
        width: 80%;
    }

    .button {
        padding: 5px;
    }
}

