.login-form {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 3px;
    margin: auto;
    font-family: 'Exo', 'cursive';
    width: 45vw;
    text-align: center;
    border: 1px solid black;
}


.login-p {
    color: #fff;
    padding: 1em;
}

.login-label {
    color: #fff;
    display: block;
    margin: 1em auto;
}

.login-button {
    color: black;
    font-size: 0.6em;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 1em 1em;
    padding: 0.6em;
    border-radius: 4px;
    width: 40px;
    font-family: "Exo", "cursive";
}


.login-field {
    width: 30vw;
    height: 1.6em;
    border-radius: 7px;
}