nav {
    background-color: #ffffff;
}

.nav-links, .brand-logo {
    background-image: linear-gradient(to right, #12aeeb, rgb(66, 153, 242), rgb(126, 125, 232), rgb(176, 87, 201), rgba(209, 21, 150, 0.38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    cursor: pointer;
    font-family: "Audiowide", "cursive";
    text-align: center;
    margin: auto;
}

.brand-logo {
    margin-left: 2rem;
}

.nav-links {
    margin-right: 1rem;
}