.nav-bar {
    height: 3vh;
}

.nav-links {
    height: 5vh;
    text-align: center;
}

a {
    background-image: linear-gradient(to right, #12aeeb, rgba(66, 153, 242, 0.53), rgba(126, 125, 232, 0.49), rgba(176, 87, 201, 0.49), rgba(209, 21, 150, 0.38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1em;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: "Audiowide", "cursive";
    text-align: center;
    margin: auto;
}
