.icon {
    height: 1.6em;
    width: 1.6em;
}
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.playlist {
    margin: auto;
    height: 50vh;
    width: 50vw;
}