.icon {
    height: 1.6em;
    width: 1.6em;
}

.service-button {
    background: white;
    padding: 0.6rem;
    margin: 1rem auto;
}

.btn:hover {
    background: #eee;
}

.playlist {
    margin: auto;
    height: 50vh;
    width: 60vw;
    padding: 1em;
    overflow: scroll;
}

.track-info {
    display: inline;
    margin: auto;
    padding: 0.6rem;
}

.playlist-comp {
    margin: auto;
    min-width: 400px;
}